<div class="uk-margin uk-width-expand uk-margin-auto uk-card uk-card-default uk-card-body uk-box-shadow-large">
    <table class="uk-table">
        <caption>
            Project Titles
        </caption>
        <thead>
        <th>Title</th>
        <th>Background</th>
        <th>Project Owner</th>
        </thead>
        <tbody class="uk-text-left">
        {{#each projects}}
            <tr>
                <form action="/displayProject" method="POST">
                    <td>{{title}}</td>
                    <td>{{background}}</td>
                    <td>{{owner.firstName}} {{owner.lastName}}</td>
                    <input type="hidden" value={{_id}} name="id" />
                    <td><button type="submit"  class="uk-button uk-button-primary uk-button-large uk-width-1-1">Update</button></td>
                </form>
            </tr>
        {{/each}}
        </tbody>
    </table>
</div>