<form action="/displayUpdatedProject" method="POST">
    <div class="uk-margin">
        <div class="uk-inline uk-width-1-1">
            <span class="uk-form-icon" uk-icon="icon: empty"></span>
            <h4>Title</h4>
            <input class="uk-input uk-form-large" type="text" name="title" value="{{title}}">
        </div>
        <div class="uk-inline uk-width-1-1">
            <span class="uk-form-icon" uk-icon="icon: empty"></span>
            <h4>Background</h4>
            <input class="uk-input uk-form-large" type="text" name="background" value="{{background}}">
        </div>
        <div class="uk-inline uk-width-1-1">
            <span class="uk-form-icon" uk-icon="icon: empty"></span>
            <h4>Problem Definition</h4>
            <input class="uk-input uk-form-large" type="text" name="problemDefinition" value="{{problemDefinition}}">
        </div>
        <div class="uk-inline uk-width-1-1">
            <span class="uk-form-icon" uk-icon="icon: empty"></span>
            <h4>Goals</h4>
            <input class="uk-input uk-form-large" type="text" name="problemDefinition" value="{{goals}}">
            <input type="hidden" value="{{id}}" name="id"/>
        </div>
        <div class="uk-inline uk-width-1-1">
            <span class="uk-form-icon" uk-icon="icon: empty"></span>
            <h4>Root Cause</h4>
            <input class="uk-input uk-form-large" type="text" name="problemDefinition" value="{{rootCause}}">
        </div>
        <div class="uk-inline uk-width-1-1">
            <span class="uk-form-icon" uk-icon="icon: empty"></span>
            <h4>Action Plan</h4>
            <input class="uk-input uk-form-large" type="text" name="problemDefinition" value="{{actionPlan}}">
        </div>
        <div class="uk-margin">
            <div class="uk-inline uk-width-1-1">
                <span class="uk-form-icon" uk-icon="icon: update"></span>
                <button class="submit uk-button uk-button-primary uk-button-large uk-width-1-1">Update Project</button>
                <br>
            </div>
        </div>
    </div>
</form>
{{> error }}

<form action="/displayDeletedProject" method="POST">
    <div class="uk-margin">
        <div class="uk-inline uk-width-1-1">
            <span class="uk-form-icon" uk-icon="icon: delete"></span>
            <button type="submit"  class="uk-button-danger	 uk-button-large uk-width-1-1">Remove Project</button></div></div>
    <div class="uk-inline uk-width-1-1">
        <span class="uk-form-icon" uk-icon="icon: foo"></span>
        <input class="uk-input uk-form-large uk-hidden" type="text" name="title" value="{{title}}">
    </div>
    <div class="uk-inline uk-width-1-1">
        <span class="uk-form-icon" uk-icon="icon: empty"></span>
        <input class="uk-input uk-form-large uk-hidden" type="text" name="problemDefinition" value="{{problemDefinition}}">
    </div>
    <div class="uk-inline uk-width-1-1">
        <span class="uk-form-icon" uk-icon="icon: empty"></span>
        <input class="uk-input uk-form-large uk-hidden" type="text" name="problemDefinition" value="{{goals}}">
    </div>
    <div class="uk-margin">
        <div class="uk-inline uk-width-1-1">
            <span class="uk-form-icon" uk-icon="icon: foo"></span>
            <input class="uk-input uk-textarea uk-hidden" type="text" name="background" value="{{background}}">
        </div>
        <input type="hidden" value="{{id}}" name="id"/>
    <div class="uk-inline uk-width-1-1">
        <span class="uk-form-icon" uk-icon="icon: empty"></span>
        <input class="uk-input uk-form-large" type="text" name="problemDefinition" value="{{rootCause}}">
    </div>
    <div class="uk-inline uk-width-1-1">
        <span class="uk-form-icon" uk-icon="icon: empty"></span>
        <input class="uk-input uk-form-large" type="text" name="problemDefinition" value="{{actionPlan}}">
    </div>
    </div>

</form>
{{> error }}