<form id ="updateProject" name="updateProject" action="/displayUpdatedProject" method="POST">
    <div class="uk-margin">
        <div class="uk-width-expand">
            <span class="uk-form-icon" uk-icon="icon: empty"></span>
            <h4>Title</h4>
            <input class="uk-input uk-form-large" type="text" name="title" value="{{title}}">
        </div>
        <div class="uk-inline uk-width-1-1">
            <span class="uk-form-icon" uk-icon="icon: empty"></span>
            <h4>Background</h4>
            <input class="uk-input uk-form-large" type="text" name="background" value="{{background}}">
        </div>
        <div class="uk-inline uk-width-1-1">
            <span class="uk-form-icon" uk-icon="icon: empty"></span>
            <h4>Problem Definition</h4>
            <input class="uk-input uk-form-large" type="text" name="problemDefinition" value="{{problemDefinition}}">
        </div>
        <div class="uk-inline uk-width-1-1">
            <span class="uk-form-icon" uk-icon="icon: empty"></span>
            <h4>Goals</h4>
            <input class="uk-input uk-form-large" type="text" name="goals" value="{{goals}}">
            <input type="hidden" value="{{id}}" name="id"/>
        </div>
        <div class="uk-inline uk-width-1-1">
            <span class="uk-form-icon" uk-icon="icon: empty"></span>

            <!-- the below hidden field takes the values in sting form and receives the Arrays value from the methods below -->
            <input id="actionPlanString" type="hidden" name="actionPlanString">
            <input id="manString" type="hidden" name="manString">
            <input id="machineString" type="hidden" name="machineString">
            <input id="methodString" type="hidden" name="methodString">
            <input id="environmentString" type="hidden" name="environmentString">
            <input id="measurementString" type="hidden" name="measurementString">
            <input id="materialString" type="hidden" name="materialString">
        </div>
    </div>
</form>
<form>

</form>
<form>
    <div class="uk-inline uk-width-1-1">
        <span class="uk-form-icon" uk-icon="icon: empty"></span>
        <h4>Root Cause</h4>

        <h5>Man</h5>
        {{#each splitMan}}
            {{#each this}}
                <input name="man" class="uk-input uk-form-large" type="text" value="{{this}}">
                {{log @index}}
            {{/each}}
        {{/each}}

        <h5>Machine</h5>
        {{#each splitMachine}}
            {{#each this}}
                <input name="machine" class="uk-input uk-form-large" type="text" value="{{this}}">
                {{log @index}}
            {{/each}}
        {{/each}}

        <h5>Method</h5>
        {{#each splitMethod}}
            {{#each this}}
                <input name="method" class="uk-input uk-form-large" type="text" value="{{this}}">
                {{log @index}}
            {{/each}}
        {{/each}}

        <h5>Environment</h5>
        {{#each splitEnvironment}}
            {{#each this}}
                <input name="environment" class="uk-input uk-form-large" type="text" value="{{this}}">
                {{log @index}}
            {{/each}}
        {{/each}}

        <h5>Measurement</h5>
        {{#each splitMeasurement}}
            {{#each this}}
                <input name="measurement" class="uk-input uk-form-large" type="text" value="{{this}}">
                {{log @index}}
            {{/each}}
        {{/each}}

        <h5>Material</h5>
        {{#each splitMaterial}}
            {{#each this}}
                <input name="material" class="uk-input uk-form-large" type="text" value="{{this}}">
                {{log @index}}
            {{/each}}
        {{/each}}

        <h4>Action Plan</h4>
    </div>
    <!-- this new form loops through the splitActionPlan as defined in the Projecy controller and adds the values to a Table-->
    <div class="uk-inline uk-width-1-1">
        <br><br>
        <table id="actionTable" border="1"  >
            <tr>
                <th>ID</th>
                <th>Issue</th>
                <th>Action</th>
                <th>Who</th>
                <th>When</th>
                <th>Status</th>
            </tr>
            {{#each splitActionPlan}}
                <tr>
                    {{#each this}}
                        <td><input name="actionPlan" class="uk-input uk-form-large" type="text" value="{{this}}"></td>
                        {{log @index}}
                    {{/each}}
                </tr>
            {{/each}}
        </table>
    </div>
</form>
<form>
    <div class="uk-margin">
        <div class="uk-width-expand">
            <span class="uk-form-icon" uk-icon="icon: update"></span>
            <!-- this button calls the submitForm-->
            <button type="button" class="uk-button uk-button-primary uk-button-large uk-width-1-3 uk-align-center" onclick="submitForm()">Update Project</button>
        </div>
    </div>
</form>
{{> error }}

<form action="/displayDeletedProject" method="POST">
    <div class="uk-margin">
        <div class="uk-width-expand">
            <span class="uk-form-icon" uk-icon="icon: delete"></span>
            <button type="submit"  class="uk-button-danger	 uk-button-large uk-width-1-3 uk-align-center">Remove Project</button></div></div>
    <div class="uk-inline uk-width-1-1">
        <span class="uk-form-icon" uk-icon="icon: foo"></span>
        <input class="uk-input uk-form-large uk-hidden" type="text" name="title" value="{{title}}">
    </div>
    <div class="uk-inline uk-width-1-1">
        <span class="uk-form-icon" uk-icon="icon: empty"></span>
        <input class="uk-input uk-form-large uk-hidden" type="text" name="problemDefinition" value="{{problemDefinition}}">
    </div>
    <div class="uk-inline uk-width-1-1">
        <span class="uk-form-icon" uk-icon="icon: empty"></span>
        <input class="uk-input uk-form-large uk-hidden" type="text" name="goals" value="{{goals}}">
    </div>
    <div class="uk-margin">
        <div class="uk-inline uk-width-1-1">
            <span class="uk-form-icon" uk-icon="icon: foo"></span>
            <input class="uk-input uk-textarea uk-hidden" type="text" name="background" value="{{background}}">
        </div>
        <input type="hidden" value="{{id}}" name="id"/>
        <div class="uk-inline uk-width-1-1">
            <span class="uk-form-icon" uk-icon="icon: empty"></span>

        </div>
    </div>
</form>
{{> error }}

<script type="text/javascript">

    function stringifyActionPlan() {
        let actionPlanArray = [];
        // calls actionPlan array
        let input = document.getElementsByName("actionPlan");
        // loops through actionPLan and captures the values into the new actionPlanArray
        for (let i = 0; i < input.length; i ++) {
            actionPlanArray.push(input[i].value);
        }
        // sends the new actionPlanArray value up into the Form to be submitted into the db
        document.getElementById("actionPlanString").value = actionPlanArray;
    }
    function stringifyMan() {
        let manArray = [];
        let input = document.getElementsByName("man");
        for (let i = 0; i < input.length; i ++) {
            manArray.push(input[i].value);
        }
        document.getElementById("manString").value = manArray;
    }
    function stringifyMachine() {
        let machineArray = [];
        let input = document.getElementsByName("machine");
        for (let i = 0; i < input.length; i ++) {
            machineArray.push(input[i].value);
        }
        document.getElementById("machineString").value = machineArray;
    }
    function stringifyMethod() {
        let methodArray = [];
        let input = document.getElementsByName("method");
        for (let i = 0; i < input.length; i ++) {
            methodArray.push(input[i].value);
        }
        document.getElementById("methodString").value = methodArray;
    }
    function stringifyEnvironment() {
        let environmentArray = [];
        let input = document.getElementsByName("environment");
        for (let i = 0; i < input.length; i ++) {
            environmentArray.push(input[i].value);
        }
        document.getElementById("environmentString").value = environmentArray;
    }
    function stringifyMeasurement() {
        let measurementArray = [];
        let input = document.getElementsByName("measurement");
        for (let i = 0; i < input.length; i ++) {
            measurementArray.push(input[i].value);
        }
        document.getElementById("measurementString").value = measurementArray;
    }
    function stringifyMaterial() {
        let materialArray = [];
        let input = document.getElementsByName("material");
        for (let i = 0; i < input.length; i ++) {
            materialArray.push(input[i].value);
        }
        document.getElementById("materialString").value = materialArray;
    }
    function submitForm() {
      // calls the above function which converts ActionPlan into a new array of Strings called actionPlanString
        stringifyActionPlan();
        stringifyMan();
        stringifyMachine();
        stringifyMethod();
        stringifyEnvironment();
        stringifyMeasurement();
        stringifyMaterial();
        // Submits the form once the conversion into a readable format is established
        document.getElementById("updateProject").submit();
    }
</script>