<form action="/displayUpdatedProject" method="POST">
    <div class="uk-margin">
        <div class="uk-width-expand">
            <span class="uk-form-icon" uk-icon="icon: empty"></span>
            <h4>Title</h4>
            <input class="uk-input uk-form-large" type="text" name="title" value="{{title}}">
        </div>
        <div class="uk-inline uk-width-1-1">
            <span class="uk-form-icon" uk-icon="icon: empty"></span>
            <h4>Background</h4>
            <input class="uk-input uk-form-large" type="text" name="background" value="{{background}}">
        </div>
        <div class="uk-inline uk-width-1-1">
            <span class="uk-form-icon" uk-icon="icon: empty"></span>
            <h4>Problem Definition</h4>
            <input class="uk-input uk-form-large" type="text" name="problemDefinition" value="{{problemDefinition}}">
        </div>
        <div class="uk-inline uk-width-1-1">
            <span class="uk-form-icon" uk-icon="icon: empty"></span>
            <h4>Goals</h4>
            <input class="uk-input uk-form-large" type="text" name="goals" value="{{goals}}">
            <input type="hidden" value="{{id}}" name="id"/>
        </div>
        <div class="uk-inline uk-width-1-1">
            <span class="uk-form-icon" uk-icon="icon: empty"></span>
            <h4>Root Cause</h4>
            <h5>Man</h5>
            <input class="uk-input uk-form-large" type="text" name="man" value="{{man}}">
            <h5>Machine</h5>
            <input class="uk-input uk-form-large" type="text" name="machine" value="{{machine}}">
            <h5>Method</h5>
            <input class="uk-input uk-form-large" type="text" name="method" value="{{method}}">
            <h5>Environment</h5>
            <input class="uk-input uk-form-large" type="text" name="environment" value="{{environment}}">
            <h5>Measurement</h5>
            <input class="uk-input uk-form-large" type="text" name="measurement" value="{{measurement}}">
            <h5>Material</h5>
            <input class="uk-input uk-form-large" type="text" name="material" value="{{material}}">
        </div>

        <div class="uk-inline uk-width-1-1">
            <span class="uk-form-icon" uk-icon="icon: empty"></span>
            <h4>Action Plan</h4>
            <h5>ID</h5>
            <input class="uk-input uk-form-large" type="text" name="actionPlan" value="{{actionPlan.[0]}}">
            <h5>Issue</h5>
            <input class="uk-input uk-form-large" type="text" name="actionPlan" value="{{actionPlan.[1]}}">
            <h5>Action</h5>
            <input class="uk-input uk-form-large" type="text" name="actionPlan" value="{{actionPlan.[2]}}">
            <h5>Who</h5>
            <input class="uk-input uk-form-large" type="text" name="actionPlan" value="{{actionPlan.[3]}}">
            <h5>When</h5>
            <input class="uk-input uk-form-large" type="text" name="actionPlan" value="{{actionPlan.[4]}}">
            <h5>Status</h5>
            <input class="uk-input uk-form-large" type="text" name="actionPlan" value="{{actionPlan.[5]}}">
        </div>
        <div class="uk-margin">
            <div class="uk-inline uk-width-1-1">
                <span class="uk-form-icon" uk-icon="icon: update"></span>
                <button class="submit uk-button uk-button-primary uk-button-large uk-width-1-3 uk-align-center">Update Project</button>
                <br>
            </div>
        </div>
    </div>
</form>
{{> error }}

<form action="/displayDeletedProject" method="POST">
    <div class="uk-margin">
        <div class="uk-width-expand">
            <span class="uk-form-icon" uk-icon="icon: delete"></span>
            <button type="submit"  class="uk-button-danger	 uk-button-large uk-width-1-3 uk-align-center">Remove Project</button></div></div>
    <div class="uk-inline uk-width-1-1">
        <span class="uk-form-icon" uk-icon="icon: foo"></span>
        <input class="uk-input uk-form-large uk-hidden" type="text" name="title" value="{{title}}">
    </div>
    <div class="uk-inline uk-width-1-1">
        <span class="uk-form-icon" uk-icon="icon: empty"></span>
        <input class="uk-input uk-form-large uk-hidden" type="text" name="problemDefinition" value="{{problemDefinition}}">
    </div>
    <div class="uk-inline uk-width-1-1">
        <span class="uk-form-icon" uk-icon="icon: empty"></span>
        <input class="uk-input uk-form-large uk-hidden" type="text" name="goals" value="{{goals}}">
    </div>
    <div class="uk-margin">
        <div class="uk-inline uk-width-1-1">
            <span class="uk-form-icon" uk-icon="icon: foo"></span>
            <input class="uk-input uk-textarea uk-hidden" type="text" name="background" value="{{background}}">
        </div>
        <input type="hidden" value="{{id}}" name="id"/>
        <div class="uk-inline uk-width-1-1">
            <span class="uk-form-icon" uk-icon="icon: empty"></span>
            <input class="uk-input uk-form-large uk-hidden" type="text" name="man" value="{{man}}">
            <input class="uk-input uk-form-large uk-hidden"type="text" name="machine" value="{{machine}}">
            <input class="uk-input uk-form-large uk-hidden" type="text" name="method" value="{{method}}">
            <input class="uk-input uk-form-large uk-hidden" type="text" name="environment" value="{{environment}}">
            <input class="uk-input uk-form-large uk-hidden" type="text" name="measurement" value="{{measurement}}">
            <input class="uk-input uk-form-large uk-hidden" type="text" name="material" value="{{material}}">
        </div>
    <div class="uk-inline uk-width-1-1">
        <span class="uk-form-icon" uk-icon="icon: empty"></span>
        <input class="uk-input uk-form-large uk-hidden" type="text" name="actionPlan" value="{{actionPlan}}">
    </div>
    </div>

</form>
{{> error }}